:root {
  --header-outline: 3px;
  --background-colour: #F1F2EE;
  --accent-colour: #36cbdb;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-colour);
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  display: grid;
  grid-template-columns: 10% 10% 40% 40%;
  background: linear-gradient(to right, #094074, #12664F, #F3B700, #C81D25, #F1A9A7);
}

#clear-btn,
#download-btn {
  background-color: var(--background-colour);
  display: grid;
  place-items: center;
  cursor: pointer;
}

#clear-btn {
  margin: var(--header-outline);
}

#download-btn {
  margin: var(--header-outline) var(--header-outline) var(--header-outline) 0;
}

#clear-btn:active,
#download-btn:active {
  background-color: var(--accent-colour);
}

i {
  color: #535353;
  pointer-events: none
}

#title {
  display: grid;
  place-items: center;
  background-color: var(--background-colour);
  margin: var(--header-outline) 0;
}

h1 {
  text-align: center;
  color: var(--accent-colour);
  font-size: calc(1rem + 1vw);
  font-family: monospace;
}

#draw-style-choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.draw-style-btn {
  background-color: var(--background-colour);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.draw-style-btn:nth-child(1),
.draw-style-btn:nth-child(2) {
  margin: var(--header-outline) 0 0 var(--header-outline);
}

.draw-style-btn:nth-child(3) {
  margin: var(--header-outline) var(--header-outline) 0 var(--header-outline);
}

.draw-style-btn:nth-child(4),
.draw-style-btn:nth-child(5) {
  margin: var(--header-outline) 0 var(--header-outline) var(--header-outline);
}

.draw-style-btn:nth-child(6) {
  margin: var(--header-outline);
}

/* CANVAS */

#container {
  height: 100%;
}

#canvas {
  height: 100%;
  width: 100%;
}

/* MODAL */

#modal {
  display: none;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  z-index: 998;
  background-color: white;
}

#modal-content {
  padding: 5%;
}

#canvas-image {
  width: 100%;
}

#modal-close-btn {
  display: none;
  position: fixed;
  font-size: calc(2rem + 1vw);
  cursor: pointer;
  top: 0%;
  left: 4%;
  z-index: 999;
}

#download-link {
  display: none;
}

/* FOOTER */

  footer {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 10vh;
    bottom: 0;
    cursor: pointer;
  }

  .colour-box:nth-child(1) {
    background-color: #094074;
  }

  .colour-box:nth-child(2) {
    background-color: #12664F;
  }

  .colour-box:nth-child(3) {
    background-color: #F3B700;
  }

  .colour-box:nth-child(4) {
    background-color: #C81D25;
  }

  .colour-box:nth-child(5) {
    background-color: #F1A9A7;
  }

  .default-selection,
  .user-selection-btn-clicked {
    border: 3px solid var(--accent-colour);
  }