:root {
  --header-outline: 3px;
  --background-colour: #F1F2EE;
  --accent-colour: #36cbdb;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 10vh;
  display: grid;
  grid-template-columns: 10% 10% 40% 40%;
  background: linear-gradient(to right, #094074, #12664F, #F3B700, #C81D25, #F1A9A7);
}

#clear-btn,
#download-btn {
  background-color: var(--background-colour);
  display: grid;
  place-items: center;
  cursor: pointer;
}

#clear-btn {
  margin: var(--header-outline);
}

#download-btn {
  margin: var(--header-outline) var(--header-outline) var(--header-outline) 0;
}

#clear-btn:active,
#download-btn:active {
  background-color: var(--accent-colour);
}

i {
  color: #535353;
  pointer-events: none
}

#title {
  display: grid;
  place-items: center;
  background-color: var(--background-colour);
  margin: var(--header-outline) 0;
}

h1 {
  text-align: center;
  color: var(--accent-colour);
  font-size: calc(1rem + 1vw);
  font-family: monospace;
}

#draw-style-choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.draw-style-btn {
  background-color: var(--background-colour);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.draw-style-btn:nth-child(1),
.draw-style-btn:nth-child(2) {
  margin: var(--header-outline) 0 0 var(--header-outline);
}

.draw-style-btn:nth-child(3) {
  margin: var(--header-outline) var(--header-outline) 0 var(--header-outline);
}

.draw-style-btn:nth-child(4),
.draw-style-btn:nth-child(5) {
  margin: var(--header-outline) 0 var(--header-outline) var(--header-outline);
}

.draw-style-btn:nth-child(6) {
  margin: var(--header-outline);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-colour);
}

#container {
  /* margin-top: 10vh;
  margin-bottom: 10vh; */
}

#canvas {
  height: 100%;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  /* bottom: 0; */
  /* width: 100vh; */
  /* height: 100vw; */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(241, 169, 167, 0.8);
  /* Black w/ opacity */
}

#modal-content {
  background-color: #fefefe;  /* CHANGE */
  margin: 2vh 2vw;
  width: 92%;
  height: 88%;
}

#modal-close-btn {
  font-size: calc(1rem + 4vw);
  cursor: pointer;
  margin-left: 2%;
}

.saved-picture {
  position: fixed;
  z-index: 1;
  left: 12vw;
  /* right: 0; */
  top: 12vh;
}

footer {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 10vh;
  bottom: 0;
  cursor: pointer;
}

.colour-box:nth-child(1) {
  background-color: #094074;
}

.colour-box:nth-child(2) {
  background-color: #12664F;
}

.colour-box:nth-child(3) {
  background-color: #F3B700;
}

.colour-box:nth-child(4) {
  background-color: #C81D25;
}

.colour-box:nth-child(5) {
  background-color: #F1A9A7;
}

.colour-box-clicked,
.draw-style-btn-clicked,
.initial-selection {
  border: 3px solid var(--accent-colour);
}